html, body {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  margin: 4rem 8rem;
}

.image-container {
  position: relative;
  text-align: center;
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}

img {
  max-width: 700px;
}

h1 {
  position: absolute;
  left: 50%;
  top: 93%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  width: 100%;
  color: white;
}

.header-info {
  padding-left: 2.5rem;
  padding-top: 1.2rem;
  padding-right: 1.2rem; 
  padding-bottom: 1.2rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0.1rem 0.1rem 0.2rem;
}

.header-info h2 {
  font-size: 3.6rem;
  padding: 1.2rem 0;
}

.header-info p {
  font-size: 2.1rem;
  line-height: 2.8rem;
  padding: 1.2rem 0;
}

.header-icons {
  display: flex;
  justify-content: right; 
}

.header-icons img {
  padding: 0 1rem;
}
