html {
  font-size: 14px;
}

html, body {
  height: 100%;
}

header,
main {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 4rem 8rem;
  max-width: 1920px;
}

.main-container {
  margin: 4rem 8rem;
  max-width: 1920px;
}

.image-container {
  position: relative;
  text-align: center;
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}

img {
  max-width: 700px;
}

h1 {
  position: absolute;
  left: 50%;
  top: 93%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  width: 100%;
  color: white;
}

.header-info {
  padding-left: 2.5rem;
  padding-top: 1.2rem;
  padding-right: 1.2rem; 
  padding-bottom: 1.2rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0.1rem 0.1rem 0.2rem;
}

.header-info h2 {
  font-size: 3.6rem;
  padding: 1.2rem 0;
}

.header-info p {
  font-size: 2.1rem;
  line-height: 2.8rem;
  padding: 1.2rem 0;
}

.header-icons {
  display: flex;
  justify-content: right; 
}

.header-icons img {
  padding: 0 1rem;
}

main h2 {
  padding-top: 12rem;
  font-size: 5rem;
  padding-bottom: 2rem;
}

.grid {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  border: 1px solid black;
  box-shadow: 0.2rem 0.2rem black, -0.2rem -0.2rem #ccc;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  font-size: 4rem;
  background-color: #ccc;
  color: white;
}

.card-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 3rem;
  font-size: 2.4rem;
}

.card-icons {
  display: flex;
  align-items: center;
}

.card-icons img {
  padding-left: 0.8rem;
}

.card-content-desc {
  color: grey;
  height: 8rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
}

footer {
  display: flex;
  justify-content: center;
}

.footer-container {
  max-width: 1920px;
  width: 100%;
  display: flex;
  margin: 4rem 8rem;
}

.footer-picture {
  margin-left: auto;
  margin-right: 0;
}

.footer-background {
  width: 100vw;
  background-color: #ccc;
}

.footer-information h2 {
  font-size: 5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.footer-information p {
  font-size: 1.8rem;
}

.footer-text {
  /* max-width: 750px; */
  padding-bottom: 2rem;
}

.telephone {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.telephone img {
  padding-right: 1rem;
}

.email {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.email img {
  padding-right: 1rem;
}

.footer-icons img {
  padding-right: 2rem;
}

/* phone */
@media (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  
  img {
    max-width: 300px;
  }
h1 {
  position: absolute;
  left: 50%;
  top: 93%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  width: 100%;
  color: white;
}

 .header-container {
    flex-direction: column;
  } 

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .footer-container {
    flex-direction: column;
    justify-content: center;
    width: inherit;
    text-align: center;
  }

  .footer-picture {
    margin-top: 2rem;
  }

  .telephone,
  .email {
    justify-content: center;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
 .header-container {
    flex-direction: column;
  } 

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .footer-container {
    flex-direction: column;
    justify-content: center;
    width: inherit;
    text-align: center;
  }

  .footer-picture {
    margin-top: 2rem;
  }

  .telephone,
  .email {
    justify-content: center;
  }
}

/* Laptop */
@media (min-width: 1025px) and (max-width: 1280px) {
 .header-container {
    flex-direction: column;
  } 

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .footer-container {
    flex-direction: column;
    justify-content: center;
    width: inherit;
    text-align: center;
  }

  .footer-picture {
    margin-top: 2rem;
  }

  .telephone,
  .email {
    justify-content: center;
  }
}


/* @media (min-width: 600px) { */
/*   .grid { */
/*     grid-template-columns: repeat(2, 1fr); */
/*   } */
/* } */
/**/
/* @media (min-width: 900px) { */
/*   .grid { */
/*   } */
/* } */
/**/
